.open-sans{
	font-family: "Open Sans Condensed", sans-serif;
}
.amatica{
	font-family: "Amatica SC", sans-serif;
}

.spacing{
	padding: 50px;
}

.float-left{
	float: left;
}

#about{padding-top:50px;height:500px;}
#programming{padding-top:50px;height:700px;}
#contact{padding-top:50px;height:650px;}