body{
	background: #e6f4ff;
	color: #111111;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding-bottom: 20px;
}

.to-center {
    margin:0 auto;
    display: inline;
}

.title {
	font-size: 3.5em;
}

.info-text{
	font-size: 1.75em;
}

a:link.no-line{
	text-decoration: none;
}

a{
	color: white;
}
a:hover{
	color: white;
}
a:visited{
	color: white;
}